    <section class="rubric">
      <p>
  5 - Gold - Creates a unique world with depth and possibilities.  Masterful / moving throughout <br>
  4 - Great - Ear pleasing music, though a bit more monotonous/standard.  This shit is awesome! <br>
  3 - Solid at points and enjoyable in small doses, but sloppy, silly, monotonous or lacking distinctive features.  I sometimes delete these, I often keep them for individual tracks. <br>
  2 - Cheesy or full of bad samples, awkwardly produced, and boring.  I probably deleted it. <br>
  1 - I deleted it.  It has no redeeming features. <br>
      </p>
    </section>